
html{
    direction: rtl;

}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(380px,1fr));
    grid-gap: 20px;
    padding:20px;
}
.books{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 20px;
    background-color: coral;
    text-align: center;

}
a{
    text-decoration: none;
    color:black
}

.img{
    width:100%
}